@model IEnumerable<MedicalDataApps.Models.Medication>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MedicationID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoctorID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrescribedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dosage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Frequency)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MedicationID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedicationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrescribedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dosage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Frequency)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MedicationID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MedicationID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MedicationID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
